
.main__menu{
    width: 98%;
    margin: auto;
}

img{
    width: 15rem;
    height: 10rem;
    margin-top: 3rem;
    margin-left: 0;
}
li{
    cursor: pointer;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    list-style: none;
    font-size: 1.6rem;
    margin: 2.3rem;
}
.icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0;
    margin: 1rem;
    cursor: pointer;
}