<div class="main__container">
  <div>
    <h1>Videojuegos de Pokémon</h1>
    <p>
      Los videojuegos de Pokémon constituyen la parte fundamental de la
      franquicia Pokémon y comprenden todos los videojuegos lanzados al mercado
      desde sus inicios en 1996. Pokémon nació originalmente con la distribución
      de Pokémon Verde y Pokémon Rojo en Japón, el primer videojuego de la
      franquicia. A partir de los videojuegos surgieron las otras grandes ramas
      de Pokémon: anime, manga y Trading Card Game. Todavía hoy, son los
      videojuegos los que marcan la pauta dominante, de manera que las
      anteriores derivan su contenido de los videojuegos.
    </p>
    <p>
      La clasificación de videojuegos de Pokémon más importante es aquella que
      distingue entre videojuegos principales y spin-offs o videojuegos
      secundarios. Pertenecen a la primera categoría los videojuegos en los que
      el jugador es un entrenador Pokémon, que se embarca en una aventura
      Pokémon que consiste en reunir una serie de medallas con el objetivo
      último de participar en la Liga Pokémon y atrapar a todos los Pokémon. Se
      consideran "principales" porque siguen el modelo establecido en Pokémon
      Verde y Pokémon Rojo, son los más abundantes y variados en contenido, y
      son los que inauguran cada nueva generación de la franquicia. Estos
      videojuegos son la esencia de Pokémon y también los más vendidos.
    </p>
    <p>
      Por otro lado, los videojuegos secundarios son un conjunto muy amplio y
      diverso de entretenimiento que no se basan en la mecánica anterior. En su
      lugar, se centran en otros aspectos del mundo Pokémon o son, simplemente,
      videojuegos menores basados en la resolución de puzzles, la participación
      en carreras, combates Pokémon, etc. Así pues, hay videojuegos secundarios
      de gran nivel, que ofrecen una experiencia de juego cercana a los
      principales en cuanto a complejidad, como la saga Pokémon Ranger, donde el
      jugador es un ranger o guardabosques encargado de la defensa de los
      Pokémon, o la saga Pokémon Mundo Misterioso, donde los personajes son los
      propios Pokémon. Frente a estos, hay videojuegos de mecánica más sencilla,
      como la serie Pokémon Rumble, que consiste en luchar contra olas de
      Pokémon, o la serie de combates Pokémon, cuyo gran atractivo es participar
      en combates con mejores gráficos que en los videojuegos principales u
      otros videojuegos dedicados simplemente al almacenamiento Pokémon. También
      hay multitud de spin-offs independientes que no forman parte de una serie
      y cuyos objetivos son muy variados.
    </p>
    <p>
      En una tercera categoría se encontrarían las aplicaciones o apps lanzadas
      en los últimos años aprovechando los avances en conectividad y
      funcionalidad de las consolas de Nintendo. No son "juegos" propiamente,
      sino más bien expansiones, que añaden alguna posibilidad a un juego mayor,
      sin ofrecer por sí solas ninguna experiencia. Aun así, también se incluyen
      en este artículo.
    </p>
  </div>
</div>
